*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titu-logo{
    background-color: rgb(54, 54, 207);
    color: white;
    display: flex;
    justify-content:space-between;
    padding: 15px;
    font-size: 25px;
    font-family: monospace;
    text-transform: uppercase;
    width: 100%;
}
.titu-logo h1{
    margin: 5px;
    font-weight: bolder;
    border: 5px solid rgb(27, 165, 57);
    background: rgb(14, 8, 8);
}
.titu-logo img{
    width: 200px;
    height: 60%;
    border-radius: 10px;
}
.banner{
	position: relative;
	width: 100%;
	height: calc(100vh - 50px);
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	transition: all .1s ease-out;
	background-image: url('../assets/img/banner-1.jpg');
	animation: banner 28s infinite linear;
}
.banner-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	background-color: rgba(0, 22, 40, .6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner-content h1{
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
	font-size: 40px;
	text-align: center;
}
.banner-content a{
	text-decoration: none;
	color: #FFF;
	padding: 9px 20px;
	border: 1px solid #FFF;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
}
.banner-content a:hover{
	background-color: #fff;
	color: #333;
}
@keyframes banner{
	0%{
		background-image: url('../img/porta0.jpg');
	}
	24%{
		background-image: url('../img/porta1.jpg');
	}


	35%{
		background-image: url('../img/porta2.jpg');
	}
	50%{
        background-image: url('../img/porta4.jpg');
	}

	65%{
		background-image: url('../img/porta5.jpg');
	}
	100%{
		background-image: url('../img/porta3.jpg');
	}

}
.descrip{
    background-color: chocolate;
    padding: 10px;
    text-align: right;
    color: white;
}
.descrip h2{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.descrip p{
    font-size: 26px;
}
.contenido{
    background-color: rgb(63, 160, 160);
    
}
.contenido h2{
    padding: 20px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    background-color:black;
    color:white;
}
.text-info{
    padding: 10px;
    text-align: justify;
    color: white;
    width: 100%;
    display: flex;
    padding: 10px;
}
.text-info p{
    padding-top: 40px;
    font-size: 28px;
    padding: 10px;
    background-color: coral;
    text-align: justify;
}
.text-info img{
    margin: 5px;
    width: 300px;
    height: 200px;
}

/*Present*/
.paisaje{
    background-color: bisque;
    width: 100%;
    height: 200px;
}
.tic h1{
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.articulos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
    gap: 15px;
    width: 70%;
    padding-top: 60px;
}
.articulos p{
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}

.articulos a{
    color: #333;
    text-decoration: none;

}
.articulos a:hover{
    cursor:progress;
    border-bottom: 1.75px solid aqua;
}
.infoimg img{
    padding-top: 45px;
    width: 29%;
    padding-left: 10px;
    height: 195px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
}
/*Galery*/
.galeria{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 15px;
    gap: 15px;
    width: 100%;
    background-color: darkslategrey;
    color: antiquewhite;
}
.galeria div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: wheat;
    text-align: justify;
}
.galeria div p{
    font-size: 23px;
    background-color:rgba(26, 163, 44, 0.479);
    height: 210px;
    font-weight: normal;
}
.galeria div img{
    width: 100%;
    height: 300px;
}
/*Footer*/
.piecont{
    background-color: rgb(3, 97, 3);
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    padding: 30px;
}
#logo{
    width: 200px;
    padding-bottom: 40px;
    padding-left: 60px;
    height: 120px;
    
}
.piecont, .pie{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
    gap: 10px;
    height: 120px;
    color:#F5F5F5;
}
.piecont, .pie p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
}
.decora{
    background-color: rgb(94, 52, 52);
    height: 20px;
    border: 5px double rgb(53, 58, 45);
}
@media screen and (max-width:500px){
.port, .fuente{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    align-items: center;
    text-align: center;
    color: white;
}
    /*Portage*/
.titu-logo{
    background-color: rgb(54, 54, 207);
    color: white;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    font-size: 15px;
    font-family: monospace;
    text-transform: uppercase;
    width: 100%;
}
.titu-logo h1{
    margin: 5px;
    font-weight: bolder;
    border: 5px solid rgb(27, 165, 57);
    background: rgb(14, 8, 8);
    width: 100px;
}
.titu-logo img{
    width: 90px;
    height: 80%;
    border-radius: 10px;
}
    /*Descriptivo*/
    .text-info{
        padding: 10px;
        text-align: justify;
        color: white;
        width: 100%;
        display: block;
        padding: 10px;
    }
    .text-info p{
        font-size: 28px;
        text-align: justify;
    }
    .text-info img{
        margin: 5px;
        width: 100%;
        height: 200px;
    }
    .paisaje{
        background-color: bisque;
        width: 100%;
        height: 215px;
    }
    .tic h1{
        text-align: center;
        text-transform: uppercase;
        color: black;
        font-size: 20px;
    }
    .articulos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
        gap: 10px;
        width: 70%;
        padding-top: 5px;
    }
    .infoimg img{
        padding-top: 30px;
        width: 29%;
        padding-left: 5px;
        height: 150px;
        float: left;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .articulos p{
        font-family: monospace;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 10px;
    }
    /*Galery*/
.galeria{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 10px;
    padding: 15px;
    gap: 15px;
    width: 100%;
    background-color: darkslategrey;
    color: antiquewhite;
}
.galeria div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: wheat;
    text-align: justify;
}
.galeria div p{
    font-size: 24px;
    font-size: 25px;
    font-weight: normal;
}
.galeria div img{
    width: 100%;
    height: 300px;
}
.piecont{
    background-color: rgb(3, 97, 3);
    padding: 30px;
    height: 200px;
}
#logo{
    width: 100px;
    padding: 10px;
    height: 120px;
    
}
.pie{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    gap: 10px;
    width: 100%;
    color:#F5F5F5;  
}
}
